
/*  
 Stat CSS  Style 
*/

h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2; 
    color: #414141;
}
h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center; 
}
img {
    max-width: 100%;
}
body {
    font-family: 'Inter', sans-serif;
    padding: 40px;
}
.header{
    background: rgba(16, 144, 216, 0.1);
}
.geometry-left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.geometry-item {
    padding: 40px;
}
.geometry-right h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;  
    text-decoration-line: underline;
    padding-bottom: 10px;
}

button {
    background-color: #1090D8 !important; 
    color: #fff !important;
}
ul {
    padding: 0;    
}
.geometry-right li { 
    list-style: none;
}
.geometry-right button {
    border: 0;
    padding: 2px 12px 8px;
    border-radius: 8px;
}
.calculation-item li span {
    font-size: 14px;
    color: #414141;
}
.geometry-right li {
    display: grid;
    padding: 0;
    grid-template-columns: 1px 1fr 1fr auto;
    gap: 10px;
    margin-bottom: 10px;
}
.calculation-item {
    padding: 20px;
}
.btn-convert {
    background-color: #1090D8 !important;
    color: #fff !important;
    font-size: 11px !important;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
}
.geometry-img img {
    width: auto;
    height: 100%;
}
.geometry-img {
    height: 194px;
}
.blog-wrapper {
    width: 60%;
    margin: 0 auto;
}

/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
    .geometry-left { 
        grid-template-columns: repeat(1, 1fr); 
    }
    .geometry-item {
        padding: 20px;
    }
    body { 
        padding: 20px;
    }
    .header-btn.text-end {
        display: flex;
        justify-content: center;
        padding-top: 18px;
    }
    .header.logo {
        display: flex;
        justify-content: center;
    }
    .header.logo img {
        max-width: 185px;
    }
    .blog-wrapper {
        width: 100%;
        margin: 0 auto;
    }
}